:root {
  --nat-navbar-bg: darkblue; /* Dark background for the navbar */
  --nat-navbar-bg-color: darkblue;
  --nat-navbar-text-highlight: khaki; /* Highlight color for the navbar */
  --nat-navbar-highlight-text: var(--bs-gray-500);
  --nat-navbar-highlight-bg: lightblue; /* Highlight color for text in the navbar */
  --nat-navbar-bg-rgb: 0, 0, 139;
  --nat-navbar-text-color: white;
}

html,
body {
  --bs-dark: var(--nat-navbar-bg);
  --bs-light-rgb: 236, 236, 236;
  --bs-dark-rgb: var(--nat-navbar-bg-rgb);
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  background: fixed center url("/wispy-cloud.png");
  background-size: cover;
}

body .navbar {
  --bs-navbar-active-color: var(--nat-navbar-highlight-text);
  --bs-navbar-brand-color: var(--nat-navbar-text-color);
  --bs-navbar-brand-hover-color: var(--nat-navbar-highlight-text);
  --bs-navbar-color: var(--nat-navbar-text-color);
  --bs-navbar-hover-color: var(--nat-navbar-highlight-text);
}

footer, footer a {
  color: var(--nat-navbar-text-color);
}

.wrapper {
  box-sizing: border-box;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
